Source: lwm
Build-Depends: debhelper (>= 7.1), xutils-dev, x11proto-core-dev, libsm-dev, libx11-dev, libxext-dev
Section: x11
Priority: optional
Maintainer: Jari Aalto <jari.aalto@cante.net>
Standards-Version: 3.8.4
Homepage: http://www.jfc.org.uk/software/lwm.html

Package: lwm
Architecture: any
Provides: x-window-manager
Depends: ${shlibs:Depends}, ${misc:Depends}, xterm | urxvt | rxvt | x-terminal-emulator
Description: Lightweight Window Manager
 lwm is a window manager for X that tries to keep out of your face.
 There are no icons, no button bars, no icon docks, no root menus,
 no nothing: if you want all that, then other programs can provide
 it. There's no configurability either: if you want that, you want a
 different window manager; one that helps your operating system in
 its evil conquest of your disc space and its annexation of your
 physical memory.
