#!/usr/bin/make -f

PACKAGE      = lwm
PKGDIR       = $(CURDIR)/debian/$(PACKAGE)
SHAREROOTDIR = $(PKGDIR)/usr/share
MANROOTDIR   = $(SHAREROOTDIR)/man
XSESSIONDIR  = $(SHAREROOTDIR)/xsessions
MAN1DIR      = $(SHAREROOTDIR)/man/man1

export DEB_BUILD_MAINT_OPTIONS = hardening=+all
CFLAGS  += -Wall -D_FILE_OFFSET_BITS=64
LDFLAGS += -Wl,--as-needed
cc      := $(CC) $(CFLAGS) $(CPPFLAGS) $(LDFLAGS)

override_dh_auto_build:
	xmkmf
	# The only place where to inject extra flags
	$(MAKE) CC="$(cc)"

override_dh_auto_install:
	$(MAKE) DESTDIR=$(PKGDIR) install
	$(MAKE) DESTDIR=$(PKGDIR) install.man
	mv --verbose $(MAN1DIR)/lwm.1x $(MAN1DIR)/lwm.1

	#  Install GDM support
	install -m 755 -d $(XSESSIONDIR)
	install -m 644 debian/*.desktop $(XSESSIONDIR)

override_dh_installwm:
	dh_installwm --priority=80 lwm

%:
	dh $@

# End of file
