#!/usr/bin/make -f

#export DH_VERBOSE=1

PACKAGE = lwm

include debian/debian-vars.mk

override_dh_auto_build:
	dash  -x /usr/bin/xmkmf
	$(MAKE)

install: build
	dh_testdir
	dh_testroot
	dh_prep
	dh_installdirs

	$(MAKE) DESTDIR=$(PKGDIR) install
	$(MAKE) DESTDIR=$(PKGDIR) install.man
	mv --verbose $(MAN1DIR)/lwm.1x $(MAN1DIR)/lwm.1

	#  Install GDM support
	$(INSTALL_DIR) $(XSESSIONDIR)
	$(INSTALL_DATA) debian/*.desktop $(XSESSIONDIR)

binary-arch: build install
	# target: binary-arch -- Build architecture-dependent files.
	dh_testdir
	dh_testroot
	dh_installchangelogs
	dh_installdocs
	dh_installexamples
	dh_install
	dh_installmenu
	dh_installman lwm.man
	dh_installwm --priority=80 lwm
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch

%:
	dh $@

.PHONY: install
.PHONY: binary-arch binary

# End of file
