#!/usr/bin/make -f

PACKAGE = lwm

include /usr/share/dpkg/buildflags.mk
CFLAGS	+= -Wall -pedantic
LDFLAGS += -Wl,--as-needed

include debian/debian-vars.mk

override_dh_auto_build:
	CC=gcc /usr/bin/xmkmf
	# The only place where to inject extra flags in INCLUDES
	$(MAKE) INCLUDES="-I. $(CFLAGS) $(LDFLAGS)"

override_dh_auto_install:
	$(MAKE) DESTDIR=$(PKGDIR) install
	$(MAKE) DESTDIR=$(PKGDIR) install.man
	mv --verbose $(MAN1DIR)/lwm.1x $(MAN1DIR)/lwm.1

	#  Install GDM support
	$(INSTALL_DIR) $(XSESSIONDIR)
	$(INSTALL_DATA) debian/*.desktop $(XSESSIONDIR)

override_dh_installwm:
	dh_installwm --priority=80 lwm

%:
	dh $@

# End of file
